<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/log-and-reg.css') }}">
    <title>Login | Rentr</title>
</head>
<body>
    
    <main class="flex-display justify-center align-center">
       
        <div class="log-reg-container ">

            <form class="log-reg" action="/login-account" method="post">
                <h1 id="log-title">Login | Rentr</h1>
                <p>Welcome back! We've missed you!</p>
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        {% for message in messages %}
                            <p id="flash-message">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn ">Login</button>
                <br>
                <p>Dont have an account? <a href="/register" id="text-color">Sign-up</a></p>
                <h6>Just want to view the Rent Board? <a href="/rentboard" id="text-color">Click Here!</a></h6>
                <hr>
                <div >
                    <p class="red">To be a logged in user you can create your own account or use</p>
                    <p class="red">Email: kyledeato@gmail.com</p>
                    <p class="red">Password: password</p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>