<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Rentboard | Rentr</title>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/rentboard">Rent Board</a>
        <a href="/create">Create A Posting</a>
        <a href="/account">My Account</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </div>
      
      <!-- Use any element to open the sidenav -->
      <span id="hamburger-menu" onclick="openNav()">&#9776;</span>
      
      <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      <main>
        <h1>Rent Board</h1>
        <div class="rent-board ">
        {% if rents%}
            {% for rent in rents %}
            <div class="rents flex-display">
                <div class="card-top">
                    <h2 id="name">{{rent.name}}</h2>
                    <p id="creator">From {{rent.creator.first_name}} {{rent.creator.last_name}} | Posted on {{rent.created_at}}</p>
                </div>
                <p id="description">{{rent.description}}</p>
                <img style="width: 20rem" src="{{url_for('static',filename='img/')}}{{rent.image_name}}.webp">
                
                <br>
                <a href="/show/{{rent.id}}" id="interested">Interested? Click Here!</a>
            </div>
            {% endfor %}
        {% endif %}
        </div>
       

    </main>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>