#sign-up {
    color: #1BA098;
}

h1 {
    color: #1BA098;
}

#log-title {
    color: #DEB992;
}
.red {
  color: red;
}
.log-reg-container {
    margin-top: 50px;
    background-color: #112d32;
    padding: 20px 100px;
    border-radius: 25px;
}

.log-reg {
    align-items: space-around;
    padding: 20px 40px;
}

button {
    background-color: #1BA098;
}

body {
    background-color: #1BA098;
    height: 100%;
  }

