/*
COLORS:
#051622 navy
#1BA098 blue green
#DEB992 gold
 */

/* GLOBAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.flex-display{
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

#text-color {
  color: #1BA098;
}

#chat {
  color: black;
  border: black;
}
#gold {
  background-color: #DEB992;
  border: black;
  color: black;
}
a {
    text-decoration: none; 
    color: white;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #1BA098;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #DEB992;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #hamburger-menu {
    font-size: 40px;
    cursor: pointer;
    color: black;
    position: fixed;
    padding: 20px 40px;
  }
 
body {
  background-color: #1BA098;
  height: 100%;
}
/* Main */
main {
    padding: 0px 100px;
  
}

main h1 {
  font-size: 40px;
  padding: 28px 0px;
  color: black;
  
}

#user_name {
  color: #000000;
}
h2 {
  color: #c9d1d9;
}

.rent-board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* RENT CARD */
.rents {
  background-color: #0D1117;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 25px;
  flex-direction: column;
  width: 800px;
  color: #fff;
  box-shadow: 0 7px 30px -10px rgba(54, 54, 54, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rents a{
  text-decoration: underline;
  color:  #fff;
  padding-right: 5px;
}
.rents a:hover{
  text-decoration: underline;
  color:  #DEB992;
}

.border-bot{
  border-bottom: 2px solid #1BA098;
  margin-bottom: 10px;
}
.actions {
  justify-content: end;
}


#creator {
  font-size: 13px;
  color: #c9d1d9;
}

#description {
  font-size: 16px;
  color: #c9d1d9;
}

#interested {
  color: #c9d1d9;
}

#interested:hover {
  color: #DEB992;
}

#background-gold {
  background-color: #DEB992;
}



/* CREATE A POSTING */
label {
  color: #1BA098;
}

.create {
  background-color: #051622;
  padding: 40px;
  border-radius: 25px;
  /* box-shadow: 5px 5px 10px #DEB992; */
}

/* EMAIL */

.email {
  background-color: #1BA098;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 25px;
  flex-direction: column;
  width: 800px;
  box-shadow: 0 7px 30px -10px rgba(54, 54, 54, 0.5);
}








  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  /* iPhone XS Max, XR ----------- */
@media only screen and (max-device-width: 414px) and (max-device-height: 896px){
  /* Styles */
  .sidenav {padding-top: 15px;}

  .sidenav a {font-size: 18px;}

  .rents {
    background-color: #0D1117;
    width: fit-content;
    margin: 10px 0px;
    color: #fff;
  }
}
@media only screen and (min-device-width: 815px) and (max-device-height: 1180px){
  /* Styles */
  .sidenav {padding-top: 15px;}

  .sidenav a {font-size: 18px;}

  .rents {
    background-color: #0D1117;
    width: 700px;
    margin: 10px 0px;
    color: #fff;
  }
}